.profileImage {
  width: 200px;
  height: 200px;
  background-image: url(/img/Me.jpg);
  background-size: cover;
  border-radius: 100%;
  background-position: left center;
  background-repeat: no-repeat;
  margin: auto;
}

.rowContainer {
  margin-top: 5%;
}
.cardImage {
  padding-top: 10%;
  margin: auto;
}
.icons {
  font-size: 2rem;
  margin-right: 10px;
  margin: auto;
}
.singleIcon {
  padding: 12px;
}

.badges{
  margin-left: 5%;
}