nav {
  background-color: #4c566a !important  ;
  box-shadow: none !important;
}
ul li a:hover:not(.active) {
  background-color: rgba(143, 188, 187, 0.2) !important;
  color: white;
}

ul li.active {
  background-color: #4c566a !important;
  border-bottom: 2px solid #8fbcbb !important;
  color: rgba(216, 222, 233, 0.2);
}

nav ul li a:focus.active {
  background-color: rgba(143, 188, 187, 0.2) !important;
}
